#subHead{
	margin: 0px;
	font-size: 180%;
}

#head{
	height: 240px;
}

h2{
	margin: 0px;
}

.heading{
	font-size: 300%;
	margin: 0px;
}

#main{
	position: absolute;
	left: 11%;
	height:1200px;
	width: 1000px;
}

#image{
	height: 550px;
	border: 2px solid black;
	background-color: skyblue;
}

.parts{
	height: 596px;
	width: 496px;
	float: left;
}

.columns{
	height: 347px;
	width: 145px;
	float: left;
	padding: 10px;
}
.column_2{
	height: 590px;
	width: 145px;
	float: left;
	padding: 10px;
}

.boldText{
	margin: 0px;
	font-weight: bold;
}

p{
	font-size: 105%;
	text-align: justify;
}

h4{
	margin: 0px;
	text-align: center;
}

table{
	margin-left: 15px;
	font-size: 140%;
	border: 2px solid gray;
}

td{
	border: 2px solid gray;
}

tr:nth-child(even){
	background-color: honeydew;
}
tr:nth-child(odd){
	background-color: #bbbbbb;
}